html,
body {
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.img-class-foto {
  margin: 0 12px 12px;
}

.gallery-image {
  max-width: 1128px;
}
